<!--
p,br,ol,li{margin-top:6; margin-bottom:6;padding: 5px;}
h1{font-size:12pt;color:6c7a89;font-weight:bold;margin:6;}
body{Font-family: verdana;font-size:10pt;}
a{font-size:12pt;Font-family: verdana;color:#6c7a89; text-decoration:none;}
a:hover{color:#C2CED1;text-decoration:none;}

#bookmark{position:fixed; right:75%;top:80%;background: #ECF0F1;border: #6c7a89 1px dashed;padding:10px;-
webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; }

blockquote{background: #F5F8F8; padding: 1em!important}

/* 連結字體設定 */
a.expert {Font-family: verdana;color:#C53A3A; text-decoration:none;font-size:10pt}
a.master {Font-family: verdana;color:#9971C6; text-decoration:none;font-size:10pt}
a.music {Font-family: verdana;color:#6c7a89; text-decoration:none;font-size:10pt}
a.expert:hover{color:#000000;text-decoration:none;border-bottom:2px dotted #C2CED1;border-top:2px dotted #C2CED1;cursor: help}
a.master:hover{color:#000000;text-decoration:none;border-bottom:2px dotted #C2CED1;border-top:2px dotted #C2CED1;cursor: help}
a.music:hover{color:#000000;text-decoration:none;border-bottom:2px dotted #C2CED1;border-top:2px dotted #C2CED1;cursor: crosshair }
a.menu:hover{color:#808080;text-decoration:none;background:#efefef;}


/* 表格設定 */
tr:hover{background:#F5F8F8;-webkit-transition: background .6s;transition: background .6s}
table{
font-size:10pt;margin: 0 0 10px;
border-left: 1px solid #C2CED1;
border-top: 1px solid #C2CED1;
}
td {
padding: 6px;
border-right: 1px solid #C2CED1;
border-bottom: 1px solid #C2CED1;}
table.level {text-align: center;}

li{padding: 10px}

fieldset{
width: 600px;
margin: 10px 10px 10px 10px;
line-height : 15pt;
padding: 30px;
border: #BFB6AC 1px dashed;-
webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;}

/* 按鈕伸縮選單 */;
ul{color : #A58FC5;}
input,textarea{
-
webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size : 10pt ; /*大小*/
font-family:verdana; /*字型*/
padding: 3px;
background-color : #ffffff ; /*背景*/
border: #6c7a89 1px dotted;}

/* tap 滑動效果 script */;
#panel,#flip
{padding:10px;}
#panel {padding:10px;display:none;background-color : #F5F8F8;border:solid 1px #ECF0F1;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;}