
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta content="width=300, initial-scale=1" name="viewport">
  <meta name="google-site-verification" content="LrdTUW9psUAMbh4Ia074-BPEVmcpBxF6Gwf0MSgQXZs">
  <title>Sign in - Google Accounts</title>
  <style>
  @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
  </style>
  <style>
  h1, h2 {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  }
  @-webkit-keyframes fontfix {
  from {
  opacity: 1;
  }
  to {
  opacity: 1;
  }
  }
  </style>
<style>
  html, body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  height: 100%;
  min-width: 100%;
  font-size: 13px;
  color: #404040;
  direction: ltr;
  -webkit-text-size-adjust: none;
  }
  button,
  input[type=button],
  input[type=submit] {
  font-family: Arial, sans-serif;
  font-size: 13px;
  }
  a,
  a:hover,
  a:visited {
  color: #427fed;
  cursor: pointer;
  text-decoration: none;
  }
  a:hover {
  text-decoration: underline;
  }
  h1 {
  font-size: 20px;
  color: #262626;
  margin: 0 0 15px;
  font-weight: normal;
  }
  h2 {
  font-size: 14px;
  color: #262626;
  margin: 0 0 15px;
  font-weight: bold;
  }
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=url] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: 36px;
  padding: 0 8px;
  margin: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 15px;
  color: #404040;
  }
  input[type=email]:hover,
  input[type=number]:hover,
  input[type=password]:hover,
  input[type=tel]:hover,
  input[type=text]:hover,
  input[type=url]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  input[type=email]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  input[type=text]:focus,
  input[type=url]:focus {
  outline: none;
  border: 1px solid #4d90fe;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
  input[type=checkbox],
  input[type=radio] {
  -webkit-appearance: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #c6c6c6;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  }
  input[type=checkbox]:active,
  input[type=radio]:active {
  background: #ebebeb;
  }
  input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  input[type=radio] {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  width: 15px;
  height: 15px;
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
  background: #fff;
  }
  input[type=radio]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  }
  input[type=checkbox]:checked::after {
  content: url(https://ssl.gstatic.com/ui/v1/menu/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
  }
  input[type=checkbox]:focus {
  outline: none;
  border-color: #4d90fe;
  }
  .stacked-label {
  display: block;
  font-weight: bold;
  margin: .5em 0;
  }
  .hidden-label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 0px;
  width: 0px;
  overflow: hidden;
  visibility: hidden;
  }
  input[type=checkbox].form-error,
  input[type=email].form-error,
  input[type=number].form-error,
  input[type=password].form-error,
  input[type=text].form-error,
  input[type=tel].form-error,
  input[type=url].form-error {
  border: 1px solid #dd4b39;
  }
  .error-msg {
  margin: .5em 0;
  display: block;
  color: #dd4b39;
  line-height: 17px;
  }
  .help-link {
  background: #dd4b39;
  padding: 0 5px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  }
  .help-link:visited {
  color: #fff;
  }
  .help-link:hover {
  color: #fff;
  background: #c03523;
  text-decoration: none;
  }
  .help-link:active {
  opacity: 1;
  background: #ae2817;
  }
  .wrapper {
  position: relative;
  min-height: 100%;
  }
  .content {
  padding: 0 44px;
  }
  .main {
  padding-bottom: 100px;
  }
  /* For modern browsers */
  .clearfix:before,
  .clearfix:after {
  content: "";
  display: table;
  }
  .clearfix:after {
  clear: both;
  }
  /* For IE 6/7 (trigger hasLayout) */
  .clearfix {
  zoom:1;
  }
  .google-header-bar {
  height: 71px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  }
  .header .logo {
  background-image: url(https://ssl.gstatic.com/accounts/ui/logo_1x.png);
  background-size: 116px 38px;
  background-repeat: no-repeat;
  margin: 17px 0 0;
  float: left;
  height: 38px;
  width: 116px;
  }
  .header .logo-w {
  background-image: url(https://ssl.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_112x36dp.png);
  background-size: 112px 36px;
  margin: 21px 0 0;
  }
  .header .secondary-link {
  margin: 28px 0 0;
  float: right;
  }
  .header .secondary-link a {
  font-weight: normal;
  }
  .google-header-bar.centered {
  border: 0;
  height: 108px;
  }
  .google-header-bar.centered .header .logo {
  float: none;
  margin: 40px auto 30px;
  display: block;
  }
  .google-header-bar.centered .header .secondary-link {
  display: none
  }
  .google-footer-bar {
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  }
  .footer {
  padding-top: 7px;
  font-size: .85em;
  white-space: nowrap;
  line-height: 0;
  }
  .footer ul {
  float: left;
  max-width: 80%;
  min-height: 16px;
  padding: 0;
  }
  .footer ul li {
  color: #737373;
  display: inline;
  padding: 0;
  padding-right: 1.5em;
  }
  .footer a {
  color: #737373;
  }
  .lang-chooser-wrap {
  float: right;
  display: inline;
  }
  .lang-chooser-wrap img {
  vertical-align: top;
  }
  .lang-chooser {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  }
  .lang-chooser option {
  font-size: 13px;
  line-height: 24px;
  }
  .hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
  visibility: hidden;
  display: none !important;
  }
  .banner {
  text-align: center;
  }
  .card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  width: 304px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .card > *:first-child {
  margin-top: 0;
  }
  .rc-button,
  .rc-button:visited {
  display: inline-block;
  min-width: 46px;
  text-align: center;
  color: #444;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  line-height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  -o-transition: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  }
  .card .rc-button {
  width: 100%;
  padding: 0;
  }
  .rc-button.disabled,
  .rc-button[disabled] {
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: default;
  pointer-events: none;
  }
  .rc-button:hover {
  border: 1px solid #c6c6c6;
  color: #333;
  text-decoration: none;
  -o-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -webkit-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .rc-button:active {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }
  .rc-button-submit,
  .rc-button-submit:visited {
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  }
  .rc-button-submit:hover {
  border: 1px solid #2f5bb7;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  }
  .rc-button-submit:active {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
  .rc-button-red,
  .rc-button-red:visited {
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  }
  .rc-button-red:hover {
  border: 1px solid #b0281a;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #c53727;
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  }
  .rc-button-red:active {
  border: 1px solid #992a1b;
  background-color: #b0281a;
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
  .secondary-actions {
  text-align: center;
  }
</style>
<style media="screen and (max-width: 800px), screen and (max-height: 800px)">
  .google-header-bar.centered {
  height: 83px;
  }
  .google-header-bar.centered .header .logo {
  margin: 25px auto 20px;
  }
  .card {
  margin-bottom: 20px;
  }
</style>
<style media="screen and (max-width: 580px)">
  html, body {
  font-size: 14px;
  }
  .google-header-bar.centered {
  height: 73px;
  }
  .google-header-bar.centered .header .logo {
  margin: 20px auto 15px;
  }
  .content {
  padding-left: 10px;
  padding-right: 10px;
  }
  .hidden-small {
  display: none;
  }
  .card {
  padding: 20px 15px 30px;
  width: 270px;
  }
  .footer ul li {
  padding-right: 1em;
  }
  .lang-chooser-wrap {
  display: none;
  }
</style>
<style media="screen and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5)">
  .header .logo {
  background-image: url(https://ssl.gstatic.com/accounts/ui/logo_2x.png);
  }
  .header .logo-w {
  background-image: url(https://ssl.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_112x36dp.png);
  }
</style>
<style>
  pre.debug {
  font-family: monospace;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 1.5em;
  font-size: 13px;
  background: #f1f1f1;
  border-top: 1px solid #e5e5e5;
  direction: ltr;
  white-space: pre-wrap;
  width: 90%;
  overflow: hidden;
  }
</style>
<style>
  .banner h1 {
  font-family: 'Open Sans', arial;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-size: 42px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;
  }
  .banner h2 {
  font-family: 'Open Sans', arial;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  }
  .signin-card {
  width: 274px;
  padding: 40px 40px;
  }
  .signin-card .profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  }
  .signin-card .profile-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
  }
  .signin-card .profile-email {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 20px 0;
  min-height: 1em;
  }
  .signin-card input[type=email],
  .signin-card input[type=password],
  .signin-card input[type=text],
  .signin-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  .signin-card #Email,
  .signin-card #Passwd,
  .signin-card .captcha {
  direction: ltr;
  height: 44px;
  font-size: 16px;
  }
  .signin-card #Email + .stacked-label {
  margin-top: 15px;
  }
  .signin-card #reauthEmail {
  display: block;
  margin-bottom: 10px;
  line-height: 36px;
  padding: 0 8px;
  font-size: 15px;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  .one-google p {
  margin: 0 0 10px;
  color: #555;
  font-size: 14px;
  text-align: center;
  }
  .one-google p.create-account,
  .one-google p.switch-account {
  margin-bottom: 60px;
  }
  .one-google .logo-strip {
  background-repeat: no-repeat;
  display: block;
  margin: 10px auto;
  background-image: url(https://ssl.gstatic.com/accounts/ui/wlogostrip_230x17_1x.png);
  background-size: 230px 17px;
  width: 230px;
  height: 17px;
  }
</style>
<style media="screen and (max-width: 800px), screen and (max-height: 800px)">
  .banner h1 {
  font-size: 38px;
  margin-bottom: 15px;
  }
  .banner h2 {
  margin-bottom: 15px;
  }
  .one-google p.create-account,
  .one-google p.switch-account {
  margin-bottom: 30px;
  }
  .signin-card #Email {
  margin-bottom: 0;
  }
  .signin-card #Passwd {
  margin-top: -1px;
  }
  .signin-card #Email.form-error,
  .signin-card #Passwd.form-error {
  z-index: 2;
  }
  .signin-card #Email:hover,
  .signin-card #Email:focus,
  .signin-card #Passwd:hover,
  .signin-card #Passwd:focus {
  z-index: 3;
  }
</style>
<style media="screen and (max-width: 580px)">
  .banner h1 {
  font-size: 22px;
  margin-bottom: 15px;
  }
  .signin-card {
  width: 260px;
  padding: 20px 20px;
  margin: 0 auto 20px;
  }
  .signin-card .profile-img {
  width: 72px;
  height: 72px;
  -moz-border-radius: 72px;
  -webkit-border-radius: 72px;
  border-radius: 72px;
  }
</style>
<style media="screen and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5)">
  .one-google .logo-strip {
  background-image: url(https://ssl.gstatic.com/accounts/ui/wlogostrip_230x17_2x.png);
  }
</style>
<style>
  .remember .bubble-wrap {
  position: absolute;
  padding-top: 3px;
  -o-transition: opacity .218s ease-in .218s;
  -moz-transition: opacity .218s ease-in .218s;
  -webkit-transition: opacity .218s ease-in .218s;
  transition: opacity .218s ease-in .218s;
  left: -999em;
  opacity: 0;
  width: 314px;
  margin-left: -20px;
  }
  .remember:hover .bubble-wrap,
  .remember input:focus ~ .bubble-wrap,
  .remember .bubble-wrap:hover,
  .remember .bubble-wrap:focus {
  opacity: 1;
  left: inherit;
  }
  .bubble-pointer {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  width: 0;
  height: 0;
  margin-left: 17px;
  }
  .bubble {
  background-color: #fff;
  padding: 15px;
  margin-top: -1px;
  font-size: 11px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  #stay-signed-in {
  float: left;
  }
  #stay-signed-in-tooltip {
  left: auto;
  margin-left: -20px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 314px;
  z-index: 1;
  }
  .dasher-tooltip {
  top: 380px;
  }
</style>
<style media="screen and (max-width: 800px), screen and (max-height: 800px)">
  .dasher-tooltip {
  top: 340px;
  }
</style>
<style>
  .jfk-tooltip {
  background-color: #fff;
  border: 1px solid;
  color: #737373;
  font-size: 12px;
  position: absolute;
  z-index: 800 !important;
  border-color: #bbb #bbb #a8a8a8;
  padding: 16px;
  width: 250px;
  }
 .jfk-tooltip h3 {
  color: #555;
  font-size: 12px;
  margin: 0 0 .5em;
  }
 .jfk-tooltip-content p:last-child {
  margin-bottom: 0;
  }
  .jfk-tooltip-arrow {
  position: absolute;
  }
  .jfk-tooltip-arrow .jfk-tooltip-arrowimplbefore,
  .jfk-tooltip-arrow .jfk-tooltip-arrowimplafter {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  }
  .jfk-tooltip-arrow .jfk-tooltip-arrowimplbefore {
  border: 9px solid;
  }
  .jfk-tooltip-arrow .jfk-tooltip-arrowimplafter {
  border: 8px solid;
  }
  .jfk-tooltip-arrowdown {
  bottom: 0;
  }
  .jfk-tooltip-arrowup {
  top: -9px;
  }
  .jfk-tooltip-arrowleft {
  left: -9px;
  top: 30px;
  }
  .jfk-tooltip-arrowright {
  right: 0;
  top: 30px;
  }
  .jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore,.jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore {
  border-color: #bbb transparent;
  left: -9px;
  }
  .jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore {
  border-color: #a8a8a8 transparent;
  }
  .jfk-tooltip-arrowdown .jfk-tooltip-arrowimplafter,.jfk-tooltip-arrowup .jfk-tooltip-arrowimplafter {
  border-color: #fff transparent;
  left: -8px;
  }
  .jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore {
  border-bottom-width: 0;
  }
  .jfk-tooltip-arrowdown .jfk-tooltip-arrowimplafter {
  border-bottom-width: 0;
  }
  .jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore {
  border-top-width: 0;
  }
  .jfk-tooltip-arrowup .jfk-tooltip-arrowimplafter {
  border-top-width: 0;
  top: 1px;
  }
  .jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore,
  .jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
  border-color: transparent #bbb;
  top: -9px;
  }
  .jfk-tooltip-arrowleft .jfk-tooltip-arrowimplafter,
  .jfk-tooltip-arrowright .jfk-tooltip-arrowimplafter {
  border-color:transparent #fff;
  top:-8px;
  }
  .jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore {
  border-left-width: 0;
  }
  .jfk-tooltip-arrowleft .jfk-tooltip-arrowimplafter {
  border-left-width: 0;
  left: 1px;
  }
  .jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
  border-right-width: 0;
  }
  .jfk-tooltip-arrowright .jfk-tooltip-arrowimplafter {
  border-right-width: 0;
  }
  .jfk-tooltip-closebtn {
  background: url("//ssl.gstatic.com/ui/v1/icons/common/x_8px.png") no-repeat;
  border: 1px solid transparent;
  height: 21px;
  opacity: .4;
  outline: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 21px;
  }
  .jfk-tooltip-closebtn:focus,
  .jfk-tooltip-closebtn:hover {
  opacity: .8;
  cursor: pointer;
  }
  .jfk-tooltip-closebtn:focus {
  border-color: #4d90fe;
  }
</style>
<style media="screen and (max-width: 580px)">
  .jfk-tooltip {
  display: none;
  }
</style>
<style type="text/css">
.captcha-box {
  background: #fff;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 10px;
}
.captcha-box .captcha-img {
  text-align: center;
}
.captcha-box .captcha-label {
  font-weight: bold;
  display: block;
  margin: .5em 0;
}
.captcha-box .captcha-msg {
  color: #999;
  display: block;
  position: relative;
}
.captcha-box .captcha-msg .accessibility-logo {
  float: right;
  border: 0;
}
.captcha-box .audio-box {
  position: absolute;
  top: 0;
}
</style>
<style>
.chromiumsync-custom-content {
  padding-top: 20px;
  margin-bottom: 0;
}
.form-panel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
}
.form-panel.first {
  z-index: 2;
}
.form-panel.second {
  z-index: 1;
}
.shift-form .form-panel.first {
  z-index: 1;
}
.shift-form .form-panel.second {
  z-index: 2;
}
.slide-in,
.slide-out {
  display: block;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slide-out {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.shift-form .slide-out {
  opacity: 0;
  -webkit-transform: translate3d(-120%, 0, 0);
  -moz-transform: translate3d(-120%, 0, 0);
  -ms-transform: translate3d(-120%, 0, 0);
  -o-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
}
.slide-in {
  -webkit-transform: translate3d(120%, 0, 0);
  -moz-transform: translate3d(120%, 0, 0);
  -ms-transform: translate3d(120%, 0, 0);
  -o-transform: translate3d(120%, 0, 0);
  transform: translate3d(120%, 0, 0);
}
.shift-form .slide-in {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.error-msg {
  -webkit-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
  -moz-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
  -ms-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
  -o-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
  transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
  height: auto;
  max-height: 0;
  opacity: 0;
}
.has-error .error-msg {
  max-height: 3.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.back-arrow {
  position: absolute;
  top: 37px;
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
}
.back-arrow {
  border-style: none;
}
.shift-form.back-arrow {
  display: block;
}
#link-signup {
  text-align: center;
  font-size: 14px;
}
.shift-form #link-signup{
  display: none;
}
#link-signin-different {
  display: none;
  text-align: center;
  font-size: 14px;
}
.shift-form #link-signin-different {
  display: block;
}
.signin-card #profile-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  min-height: 1em;
}
.signin-card.no-name #profile-name {
  display: none;
}
.signin-card.no-name #email-display {
  line-height: initial;
  margin-bottom: 16px;
}
.signin-card #email-display {
  display: block;
  padding: 0px 8px;
  color: rgb(64, 64, 64);
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.signin-card #Email {
  margin-top: 16px;
}
.need-help {
  float: right;
  text-align: right;
}
.form-panel {
  width: 274px;
}
#gaia_firstform {
  z-index: 2;
}
.signin-card {
  position: relative;
  overflow: hidden;
}
.signin-card #profile-name {
  color: #000;
}
.circle-mask {
  display: block;
  height: 96px;
  width: 96px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  margin-bottom: 10px;
}
.circle {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
.circle {
  position: absolute;
  z-index: 101;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  opacity: 0.99;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}
.main {
  overflow: hidden;
}
.card-mask-wrap {
  position: relative;
  width: 360px;
  margin: 0 auto;
  z-index: 1;
}
.dasher-tooltip {
  position: absolute;
  left: 50%;
  margin-left: 150px;
}
.dasher-tooltip .tooltip-pointer {
  margin-top: 15px;
}
.dasher-tooltip p {
  margin-top: 0;
}
.dasher-tooltip p span {
  display: block;
}
.card {
  margin-bottom: 0;
}
.one-google {
  padding-top: 27px;
}
#canvas {
  -webkit-transition: opacity 0.075s;
  -moz-transition: opacity 0.075s;
  -ms-transition: opacity 0.075s;
  -o-transition: opacity 0.075s;
  transition: opacity 0.075s;
  opacity: 0.01;
}
.shift-form #canvas {
  opacity: 0.99;
}
.label {
  color: #404040;
}
#account-chooser-link {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.input-wrapper {
  position: relative;
}
.google-footer-bar {
  z-index: 2;
}
</style>
<style media="screen and (max-width: 580px)">
.back-arrow {
  top: 17px;
}
.circle-mask {
  height: 72px;
  width: 72px;
  background-size: 72px;
}
.circle {
  height: 72px;
  width: 72px;
}
#canvas {
  height: 72px;
  width: 72px;
}
.form-panel {
  width: 256px;
}
.card-mask-wrap {
  width: 300px;
}
.signin-card {
  width: 256px;
}
.signin-card #EmailFirst {
  margin-top: 15px;
}
.one-google {
  padding-top: 22px;
}
</style>
  </head>
  <body>
  <div class="wrapper">
  <div class="google-header-bar  centered">
  <div class="header content clearfix">
  <div class="logo logo-w" aria-label="Google"></div>
  </div>
  </div>
  <div class="main content clearfix">
<div class="banner">
<h1>
  One account. All of Google.
</h1>
  <h2 class="hidden-small">
  Sign in with your Google Account
  </h2>
</div>
<div class="main-content 
  
  
    no-name
  
  
  
">
<div class="card signin-card
  
    pre-shift
  
  
  
   no-name">
  <img class="circle-mask"
      
        
          src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"
        
      >
  <form novalidate method="post" action="https://accounts.google.com/AccountLoginInfo" id="gaia_loginform">
  <input name="Page" type="hidden" value="PasswordSeparationSignIn">
  <input type="hidden" name="GALX" value="tH45wHat3rQ">
  <input type="hidden" name="gxf" value="AFoagUWNPPnTnwa4LoCPpIsWvQX26IHn6w:1470793711423">
  <input type="hidden" name="continue" value="https://drive.google.com/st/auth/host/0B2VmqVFwgXmJRnZoT0c0N2lpWjg/style.css">
  <input id="profile-information" name="ProfileInformation" type="hidden" value="">
  <input type="hidden" id="_utf8" name="_utf8" value="&#9731;"/>
  <input type="hidden" name="bgresponse" id="bgresponse" value="js_disabled">
  <div class="form-panel first valid" id="gaia_firstform">
  <div class="slide-out ">
  <div class="input-wrapper focused">
  <div id="identifier-shown">
  <div>
  <label class="hidden-label" for="Email">
  Enter your email</label>
  <input id="Email" name="Email" placeholder="Enter your email" type="email" value="" spellcheck="false"
            
            
            >
  <input id="Passwd-hidden" type="password" spellcheck="false" class="hidden">
  </div>
  </div>
  <span role="alert" class="error-msg" id="errormsg_0_Email"></span>
  </div>
<input id="next" name="signIn" class="rc-button rc-button-submit" type="submit" value="Next">
  <a class="need-help"
        href="https://accounts.google.com/signin/recovery?continue=https%3A%2F%2Fdrive.google.com%2Fst%2Fauth%2Fhost%2F0B2VmqVFwgXmJRnZoT0c0N2lpWjg%2Fstyle.css&amp;ignoreShadow=0&amp;hl=en">
  Need help?
  </a>
  </div>
  </div>
  </form>
</div>
  <div class="card-mask-wrap
    
        
     no-name">
  <div class="card-mask">
  <div class="one-google">
  <p class="create-account">
  <span id="link-signin-different">
  <a href="https://accounts.google.com/AccountChooser?continue=https%3A%2F%2Fdrive.google.com%2Fst%2Fauth%2Fhost%2F0B2VmqVFwgXmJRnZoT0c0N2lpWjg%2Fstyle.css&amp;hl=en">
  Sign in with a different account
  </a>
  </span>
  <span id="link-signup">
  <a href="https://accounts.google.com/SignUp?continue=https%3A%2F%2Fdrive.google.com%2Fst%2Fauth%2Fhost%2F0B2VmqVFwgXmJRnZoT0c0N2lpWjg%2Fstyle.css">
  Create account
  </a>
  </span>
  </p>
<p class="tagline">
  One Google Account for everything Google
</p>
<div class="logo-strip"></div>
  </div>
  </div>
  </div>
</div>
  </div>
  <div class="google-footer-bar">
  <div class="footer content clearfix">
  <ul id="footer-list">
  <li>
  <a href="https://www.google.com/intl/en/about" target="_blank">
  About Google
  </a>
  </li>
  <li>
  <a href="https://accounts.google.com/TOS?loc=US&hl=en&privacy=true" target="_blank">
  Privacy
  </a>
  </li>
  <li>
  <a href="https://accounts.google.com/TOS?loc=US&hl=en" target="_blank">
  Terms
  </a>
  </li>
  <li>
  <a href="http://www.google.com/support/accounts?hl=en" target="_blank">
  Help
  </a>
  </li>
  </ul>
  </div>
</div>
  </div>
<script type="text/javascript">
  var gaia_attachEvent = function(element, event, callback) {
  if (element && element.addEventListener) {
  element.addEventListener(event, callback, false);
  } else if (element && element.attachEvent) {
  element.attachEvent('on' + event, callback);
  }
  };
  (function() {
  var gaia_hideNavBar = function() {
  setTimeout(function() {
  window.scrollTo(0, 1);
  }, 0);
  };
  gaia_attachEvent(window, 'load', gaia_hideNavBar);
  })();
</script>
  <script type="text/javascript">/* Anti-spam. Want to say hello? Contact (base64) Ym90Z3VhcmQtY29udGFjdEBnb29nbGUuY29t */(function(){eval('var h=this,S=function(m,H,b){if("object"==(H=typeof m,H))if(m){if(m instanceof Array)return"array";if(m instanceof Object)return H;if((b=Object.prototype.toString.call(m),"[object Window]")==b)return"object";if("[object Array]"==b||"number"==typeof m.length&&"undefined"!=typeof m.splice&&"undefined"!=typeof m.propertyIsEnumerable&&!m.propertyIsEnumerable("splice"))return"array";if("[object Function]"==b||"undefined"!=typeof m.call&&"undefined"!=typeof m.propertyIsEnumerable&&!m.propertyIsEnumerable("call"))return"function"}else return"null";else if("function"==H&&"undefined"==typeof m.call)return"object";return H},a=function(m,H,b,K,E){b=m.split("."),K=h,b[0]in K||!K.execScript||K.execScript("var "+b[0]);for(;b.length&&(E=b.shift());)b.length||void 0===H?K=K[E]?K[E]:K[E]={}:K[E]=H},y=function(m,H,b){return 2>=arguments.length?Array.prototype.slice.call(m,H):Array.prototype.slice.call(m,H,b)},D,t=(new function(){},function(m,H,b,K,E,O,A,w,l){return(b=(K=(E=r.prototype,O=E.$,A=r,l=E.C,function(){return b()}),w=E.K,function(m,W,k){for(m=(W=(k=0,m=K[E.L],m)===H,m&&m[E.L]);m&&m!=O&&m!=A&&m!=w&&m!=l&&20>k;)k++,m=m[E.L];return b[E.oU+W+!(!m+(k+3>>3))]}),K[E.D]=function(m){b[E.G_]=m},K[E.D])(m),m=K}),Z=function(m,H,b,K){((K=(((((((((((((((((((((((m.a=false,m).m=[],m.G=[],m.R=m.i(),R(m,m.h,0),R(m,m.b,0),R)(m,m.o,2048),R)(m,m.N,0),R(m,m.v,m.v),R(m,m.B,0),R)(m,m.f,[]),R)(m,m.MN,m),R)(m,m.j,[]),R(m,m.w,0),R)(m,m.du,"object"==typeof window?window:h),R(m,m.M,[m.vz,0,0]),R(m,m.T,{}),R(m,m.l,z(4)),R)(m,m.A,0),R)(m,12,function(m,H,b,K){(K=(b=(H=g(m),g)(m),g(m)),R)(m,K,m.Z(H)||m.Z(b))}),R(m,13,function(m,H,b,K,l){b=(l=(K=(b=(H=g(m),g)(m),m).Z(g(m)),m).Z(g(m)),m).Z(b),R(m,H,V(m,b,K,l))}),R)(m,30,function(m){u(m,0)}),R(m,123,function(m,H,b,K,l,Q,W,k,F,d){if(void 0!=(K=(H=g(m),b=c(m),""),m).G[m.W])for(l=m.Z(m.W),W=l.length,Q=0;b--;)Q=(Q+c(m))%W,K+=l[Q];else{for(l=0,K=[];l<b;l++)K.push(g(m));for(Q=l=(b=[],0);l<K.length;)W=K[l++],128>W?b[Q++]=String.fromCharCode(W):191<W&&224>W?(k=K[l++],b[Q++]=String.fromCharCode((W&31)<<6|k&63)):239<W&&365>W?(k=K[l++],F=K[l++],d=K[l++],W=((W&7)<<18|(k&63)<<12|(F&63)<<6|d&63)-65536,b[Q++]=String.fromCharCode(55296+(W>>10)),b[Q++]=String.fromCharCode(56320+(W&1023))):(k=K[l++],F=K[l++],b[Q++]=String.fromCharCode((W&15)<<12|(k&63)<<6|F&63));K=b.join("")}R(m,H,K)}),R)(m,42,function(m,H){H=m.Z(g(m)),M(m,H)}),R(m,27,function(m,H,b){(b=(H=g(m),g)(m),R)(m,b,m.Z(b)-m.Z(H))}),R)(m,96,function(m,H,b){(H=g(m),b=g(m),0!=m.Z(H))&&R(m,m.h,m.Z(b))}),R(m,106,function(m){J(m,1)}),R(m,15,function(m){u(m,4)}),R)(m,55,function(m,H){m.a&&(H=m.Z(m.h),R(m,m.h,m.g.length),m.m.push([3,H]))}),R(m,76,function(m,H,b,K){K=(H=g(m),b=g(m),g(m)),m.Z(H)[m.Z(b)]=m.Z(K)}),R)(m,35,function(m,H,b,K){(K=(b=(H=g(m),g)(m),g(m)),R)(m,K,m.Z(H)|m.Z(b))}),R(m,6,function(m,H,b,K,l){for(l=(b=(H=g(m),c)(m),0),K=[];l<b;l++)K.push(g(m));R(m,H,K)}),R)(m,82,function(m,H,b){b=(H=g(m),g(m)),R(m,b,function(m){return eval(m)}(m.Z(H)))}),R(m,23,function(){}),R(m,34,function(m){L(m,4)}),R)(m,68,function(m,H,b,K,l){(K=(b=(l=(H=(K=(b=(H=g(m),g(m)),g)(m),m.Z(H)),m).Z(g(m)),m.Z(b)),m).Z(K),0!==H)&&(K=V(m,K,l,1,H,b),H.addEventListener(b,K,false),R(m,m.N,[H,b,K]))}),R(m,24,function(m){u(m,3)}),R(m,98,function(m,H,b,K){(H=g(m),b=g(m),K=g(m),R)(m,K,m.Z(H)>>b)}),R(m,45,function(m,H,b,K){(K=(b=(H=g(m),g(m)),g(m)),R)(m,K,m.Z(H)<<b)}),R(m,75,function(m){L(m,1)}),R(m,65,function(m,H,b,K){K=(H=g(m),b=g(m),g)(m),R(m,K,(m.Z(H)in m.Z(b))+0)}),R)(m,112,function(m,H,b,K){K=(b=(H=g(m),g)(m),g(m)),m.Z(H)==m.Z(b)&&R(m,K,m.Z(K)+1)}),R(m,44,function(m){L(m,2)}),R(m,72,function(m,H,b,K){(H=(b=(K=(b=(H=g(m),g(m)),g(m)),m.Z(b)),m).Z(H),R)(m,K,H[b])}),R(m,125,function(m,H,b){H=g(m),b=g(m),R(m,b,""+m.Z(H))}),R)(m,119,function(){}),R(m,49,function(m,H,b){b=(H=g(m),g(m)),R(m,b,m.Z(b)*m.Z(H))}),R)(m,21,function(m,H,b,K,l,Q){if(H=(l=(K=(b=(H=g(m),g)(m),g(m)),g)(m),m).Z(H),b=m.Z(b),K=m.Z(K),m=m.Z(l),"object"==S(H)){for(Q in l=[],H)l.push(Q);H=l}for(Q=(l=0,H).length;l<Q;l+=K)b(H.slice(l,l+K),m)}),R(m,38,function(m){u(m,7)}),R(m,9,function(m){J(m,4)}),R(m,40,function(m,H,b,K,l,Q,W){((b=(K=(l=(H=N(m),H.F),H).J,H).s,W=b.length,0)==W?Q=new K[l]:1==W?Q=new K[l](b[0]):2==W?Q=new K[l](b[0],b[1]):3==W?Q=new K[l](b[0],b[1],b[2]):4==W?Q=new K[l](b[0],b[1],b[2],b[3]):m.K(m.c),R)(m,H.Y,Q)}),R)(m,60,function(m,H,b){H=g(m),b=g(m),R(m,b,m.Z(b)+m.Z(H))}),R(m,114,function(m,H,b){H=g(m),b=g(m),R(m,b,m.Z(b)%m.Z(H))}),R)(m,70,function(m,H){H=N(m),R(m,H.Y,H.F.apply(H.J,H.s))}),R)(m,43,function(m,H,b){H=(b=(H=g(m),g(m)),m.G[H]&&m.Z(H)),R(m,b,H)}),R(m,56,function(m){J(m,2)}),R(m,37,function(){}),R(m,99,function(m,H,b,K){if(H=m.u.pop()){for(b=g(m);0<b;b--)K=g(m),H[K]=m.G[K];H[m.f]=m.G[m.f],m.G=H}else R(m,m.h,m.g.length)}),R(m,97,function(m,H,b,K){(K=(H=g(m),b=g(m),g)(m),m).Z(H)>m.Z(b)&&R(m,K,m.Z(K)+1)}),R(m,92,function(m,H){(m=(H=g(m),m).Z(H),m[0]).removeEventListener(m[1],m[2],false)}),R(m,11,function(m,H,b){(b=(H=g(m),g(m)),H=m.Z(H),R)(m,b,S(H))}),b)||function(){},v)(),H)&&"!"==H.charAt(0)?(m.I=H,K()):(m.g=Y(H),m.g&&m.g.length?(H=!!b,m.a=H,m.u=[],e(m,[4,K]),m.$(),n(m,H)):(m.K(m.V),K()))},Y=function(m,H,b,K,E){if(H=window.atob){for(K=b=(H=(m=H(m),[]),0);K<m.length;K++){for(E=m.charCodeAt(K);255<E;)H[b++]=E&255,E>>=8;H[b++]=E}m=H}else m=null;return m},N=function(m,H,b,K,E,O){for(E=(K=((b=(H={},g)(m),H).Y=g(m),H.s=[],g(m))-1,g)(m),O=0;O<K;O++)H.s.push(g(m));for(H.F=m.Z(b),H.J=m.Z(E);K--;)H.s[K]=m.Z(H.s[K]);return H},v=function(m){for(m=0;64>m;++m);},r=function(m,H){try{Z(this,m,H)}catch(b){U(this,b)}},U=function(m,H){m.I=("E:"+H.message+":"+H.stack).slice(0,2048)},V=((D=r.prototype,r.prototype).Z=function(m,H){if((H=this.G[m],void 0)===H)throw this.K(this.hQ,0,m),this.O;return H()},function(m,H,b,K,E,O){return function(){var A=K&1,w=[5,H,b,void 0,E,O,arguments];if((K&2&&n(m,false),A)&&m.m.length)e(m,w);else return p(m,w)}}),q=(((((D.w=138,D.X=228,r.prototype).LJ=function(m,H){((H.push(m[0]<<24|m[1]<<16|m[2]<<8|m[3]),H).push(m[4]<<24|m[5]<<16|m[6]<<8|m[7]),H).push(m[8]<<24|m[9]<<16|m[10]<<8|m[11])},D.L="caller",D).ZS=33,D).G_=36,D).b=199,D.MN=195,function(m,H,b,K){for(K=H-1,b=[];0<=K;K--)b[H-1-K]=m>>8*K&255;return b}),G=((D.ru=(D.c=22,10),r.prototype.pJ=function(m,H,b,K){if(3==m.length){for(b=0;3>b;b++)H[b]+=m[b];for(K=[13,(b=0,8),13,12,16,5,3,10,15];9>b;b++)H[3](H,b%3,K[b])}},D).fJ=12,D.U=21,D.gu=245,D.D="toString",function(m,H,b,K){return b=(K=function(){return H},function(){return K()}),b[m.D]=function(m){H=m},b}),c=((((r.prototype.K=function(m,H,b,K){(H=(0==((m=[(K=this.Z(this.b),m),K>>8&255,K&255],void 0!=b)&&m.push(b),this).Z(this.f).length&&(this.G[this.f]=void 0,R(this,this.f,m)),b="",H&&(H.message&&(b+=H.message),H.stack&&(b+=":"+H.stack)),this.Z(this.o)),3<H)&&(b=b.slice(0,H-3),H-=b.length+3,b=x(b.replace(/\\r\\n/g,"\\n")),I(this,this.l,q(b.length,2).concat(b),this.fJ)),R(this,this.o,H)},D.T=217,D).M=219,D).s$=false,D).vz=165,function(m,H){return H=g(m),H&128&&(H=H&127|g(m)<<7),H}),C=(r.prototype.b1=(D.N=240,function(m,H,b,K){try{K=m[(H+2)%3],m[H]=m[H]-m[(H+1)%3]-K^(1==H?K<<b:K>>>b)}catch(E){throw E;}}),function(m,H,b){return(b=m.Z(m.h),m.g&&b<m.g.length)?(R(m,m.h,m.g.length),M(m,H)):R(m,m.h,H),m.$(b)}),g=(D.W=170,function(m,H,b){if(!(H=m.Z(m.h),H in m.g))throw m.K(m.S),m.O;return((void 0==m.P&&(m.P=P(m.g,H-4),m.H=void 0),m).H!=H>>3&&(m.H=H>>3,b=[0,0,0,m.Z(m.A)],m.aU=X(m.P,m.H,b)),R(m,m.h,H+1),m.g)[H]^m.aU[H%8]}),X=(D.O={},((D.v=(D.l1=153,224),D.KJ=15,D).du=238,D.B=133,D).l=203,D.j=244,function(m,H,b,K){try{for(K=0;79669387488!=K;)m+=(H<<4^H>>>5)+H^K+b[K&3],K+=2489668359,H+=(m<<4^m>>>5)+m^K+b[K>>>11&3];return[m>>>24,m>>16&255,m>>8&255,m&255,H>>>24,H>>16&255,H>>8&255,H&255]}catch(E){throw E;}}),M=function(m,H){(m.u.push(m.G.slice()),m.G[m.h]=void 0,R)(m,m.h,H)},R=function(m,H,b){if(H==m.h||H==m.b)if(m.G[H])m.G[H][m.D](b);else m.G[H]=G(m,b);else if(H!=m.M&&H!=m.l&&H!=m.f||!m.G[H])m.G[H]=t(b,m.Z);H==m.A&&(m.P=void 0,R(m,m.h,m.Z(m.h)+4))},I=((D.h=210,D.hQ=30,D.A=(D.f=202,254),D.S=31,D).V=17,function(m,H,b,K,E,O){for(K=((H=(E=m.Z(H),H==m.l)?function(H,b,K,O){if((b=E.length,K=b-4>>3,E).Q0!=K){O=[(K=(E.Q0=K,K<<3)-4,0),0,0,m.Z(m.B)];try{E.mP=X(P(E,K),P(E,K+4),O)}catch(W){throw W;}}E.push(E.mP[b&7]^H)}:function(m){E.push(m)},K)&&H(K&255),O=0,b.length);O<K;O++)H(b[O])}),P=(D.o=(D.oU=34,226),function(m,H){return m[H]<<24|m[H+1]<<16|m[H+2]<<8|m[H+3]}),z=(D=r.prototype,function(m,H){for(H=[];m--;)H.push(255*Math.random()|0);return H}),x=function(m,H,b,K,E){for(K=(H=[],b=0);K<m.length;K++)E=m.charCodeAt(K),128>E?H[b++]=E:(2048>E?H[b++]=E>>6|192:(55296==(E&64512)&&K+1<m.length&&56320==(m.charCodeAt(K+1)&64512)?(E=65536+((E&1023)<<10)+(m.charCodeAt(++K)&1023),H[b++]=E>>18|240,H[b++]=E>>12&63|128):H[b++]=E>>12|224,H[b++]=E>>6&63|128),H[b++]=E&63|128);return H},f=((D.i=function(m){return(m=window.performance)&&m.now?function(){return m.now()|0}:function(){return+new Date}}(),D.O$=function(m,H,b,K,E,O){for(O=K=(b=[],0);O<m.length;O++)for(E=E<<H|m[O],K+=H;7<K;)K-=8,b.push(E>>K&255);return b},r.prototype).IU=window.requestIdleCallback?function(m){window.requestIdleCallback(m,{timeout:4})}:window.setImmediate?function(m){window.setImmediate(m)}:function(m){setTimeout(m,0)},function(m,H,b){if(b=m.m.pop())p(m,b),n(m,H)}),u=(((D.E$=function(m,H,b){return(H^=H<<13,H^=H>>17,H=(H^H<<5)&b)||(H=1),m^H},r).prototype.C=function(m,H,b,K,E){if(1==(H=m[0],H))H=m[1],m=m[2],m.push(this.Z(this.M).length,this.Z(this.l).length,this.Z(this.j).length,this.Z(this.o)),this.a=H,this.G[this.X]&&C(this,this.Z(this.X));else{if(2==H){if(b=((4<(0<((K=(H=((b=(m=m[2],q(this.Z(this.M).length+2,2)),H=this.Z(this.f),0<H.length)&&I(this,this.M,q(H.length,2).concat(H),this.KJ),this.Z(this.w)&511),H-=this.Z(this.M).length+5,this).Z(this.l),4<K.length)&&(H-=K.length+3),H)&&I(this,this.M,q(H,2).concat(z(H)),this.ru),K).length&&I(this,this.M,q(K.length,2).concat(K),this.l1),H=z(2).concat(this.Z(this.M)),H[1]=H[0]^3,H)[3]=H[1]^b[0],H[4]=H[1]^b[1],window).btoa){if(8192>=H.length)K=String.fromCharCode.apply(null,H);else for(E=0,K="";E<H.length;E+=8192)K+=String.fromCharCode.apply(null,y(H,E,E+8192));b=b(K).replace(/\\+/g,"-").replace(/\\//g,"_").replace(/=/g,"")}else b=void 0;if(b)b="!"+b;else for(K=0,b="";K<H.length;K++)E=H[K][this.D](16),1==E.length&&(E="0"+E),b+=E;return(this.Z(this.M).length=m[0],this.Z(this.l)).length=m[1],this.Z(this.j).length=m[2],H=b,R(this,this.o,m[3]),H}if(3==H)C(this,m[1]);else if(5==H)return C(this,m[1])}},r).prototype.CJ=function(m,H,b){return(b=this.DS(H&&m),m)&&!H&&m(b),b},function(m,H,b,K,E,O){E=(K=H&3,b=H&4,g(m)),O=g(m),E=m.Z(E),b&&(E=x((""+E).replace(/\\r\\n/g,"\\n"))),K&&I(m,O,q(E.length,2)),I(m,O,E)}),p=(D.$=function(m,H,b,K,E,O,A){try{for(H=(K=void 0,E=0,b=5001,this).g.length;(--b||this.s$)&&(E=this.Z(this.h))<H;)try{R(this,this.b,E),O=g(this),(K=this.Z(O))&&K.call?K(this):this.K(this.U,0,O)}catch(w){w!=this.O&&(A=this.Z(this.v),A!=this.v?(R(this,A,w),R(this,this.v,this.v)):this.K(this.c,w))}b||this.K(this.ZS)}catch(w){try{this.K(this.c,w)}catch(l){U(this,l)}}return H=this.Z(this.T),m&&R(this,this.h,m),H},function(m,H,b,K,E){if(b=H[0],1==b)m.C(H);else if(2==b){K=(b=H[1],H[3]);try{m.a=false,E=m.C(H)}catch(O){U(m,O),E=m.I}b&&b(E),K.push(E)}else if(3==b)m.C(H);else if(4==b)m.a=false,E=H[1],E();else if(5==b)return E=H[2],R(m,m.gu,H[6]),R(m,m.T,E),m.C(H)}),L=function(m,H,b,K){(b=g(m),K=g(m),I)(m,K,q(m.Z(b),H))},e=function(m,H){m.m.splice(0,0,H)},J=function(m,H,b,K){for(K=(b=g(m),0);0<H;H--)K=K<<8|g(m);R(m,b,K)},n=function(m,H){0!=m.m.length&&(H&&!B(m)?f(m,H):H?m.IU(function(){f(m,H)}):f(m,H))},B=(D.DS=function(m,H,b,K,E){if(this.I)return this.I;try{K=[],E=[],b=!!m,e(this,[1,b,K]),e(this,[2,m,K,E]),n(this,b),H=E[0]}catch(O){U(this,O),H=this.I,m&&m(H)}return H},function(m,H){if(H=m.i(),15>H-m.R||0!=document.hidden)return false;return m.R=H,true});D.cz=function(m,H,b,K,E){for(E=K=0;E<m.length;E++)K+=m.charCodeAt(E),K+=K<<10,K^=K>>6;return K=new Number((K+=K<<3,K^=K>>11,m=K+(K<<15)>>>0,m&(1<<H)-1)),K[0]=(m>>>H)%b,K};try{window.addEventListener("unload",function(){},false)}catch(m){}a("botguard.bg",r),a("botguard.bg.prototype.invoke",r.prototype.CJ);')})()</script>
  <script type="text/javascript">
  document.bg = new botguard.bg('zsD04R+GkqoL5cKRRN4y/cQZ9IgwFuewbLPhTGEG0c0vuMEqaxiXF6QmwBpp2ml4FAULQDkV6QUU+ahppgI0nNpNkdb9lOhHKZcPmKYtvaR61bOAfwny+AEwNWdytE3mVkxV52u87vN4+MpW5iuW6FAXog+eZG+bcHFWEyo5vsxb5ZPQqgD5RcDlm70jpWXXKVFtb4Vm2LMltU74aT37WKa8wOcsnXQQuw/aLR+vet1odVduf+kmHKj709ykPDgpsxCo6EIee/S1iFRf6aaSDbbuGeYfJSw/QD002Dboh+4wlvhHDi3m1HFnhTEZ7Sfo1wcyKYnRmQX/AsS/JehFj2hV3vR6mNn6UkZYh6giWDq0JcvafsCvuGOFcFi1eptYEtbtBXaK1YDTM6q7T9P8zmdKib74QBq4mI5VbTY6/nvy1UM0ypHjxtOUHSmHWvxwo/EW5u1A4eOURT4NMshGEk03fhKMt70Pcu1nGBNG7P7Tv1HKrcCSNofWOXXxteJuuMUttMc0WgMXkxEeOBDtF4no7mZj934C9Kz7a53PrEOnjyRnVKAuoj9tG45XFPnjdQZg6WZfXFlmepAsRKhzl1oix77Zxdc7F0h8nfH+9WUDrYowRWe9gNZetjpRXCQEf9xM5rgOOb98JMxmkQ8p6MqaoUCD8Zuy2t6SIBHwRluRjkrn5d4bJIOHKfn3p7JqKbr/vjeIvxwDW/3JEILIRd53kPP99fI4w82Rs67mnyJcXWpzLtkBHIPXcYagFJvBQ92mTx6rrmPQYvbHyvVGt6X87xGUvCQ69nTTIo6VGSWDZV+ELApeTnQTdsZ3xzJaAD40/pPYuHKTGqnpwh69D3Rvt35VpX3y15AMuPe+92o/iZHkAxyAmJYS+PuMQ/XFvDvqxPDsDxoQ40mNWkQK6bkvOtZshuooFNVqfwUPwQCxWCPGMdfieSmInZ1axBhROm7XKnYV/4HpJjVq/jkBXmgZCg2URLRYpDvBKxvVEsZSucx8U9DmhuufmzrSwYB+eOsA18dp30u39+KZta5ZuH+U4uO0cTKPDdzbs2FQondWprG4xYOiN65BJqjyKLm5J8XprnoyrXQ7RQLJz/+A39TqGbCEvXAXbbLmsRiTmXTo3n82qqK5unGGGGwLhiWndv7juyT+T/6ev0F+5W62Dy+GBFSoDvXzdPI61A7y3YLnKM/DHuWOZ+HYBKyTzMybqbuLZEYm975F7IxZOQil/32hRiO2fSl8hqlUE8P+Hp8OC0uzJPxX10s9QBGna775gubEzNRLDzoZVEL4RkRHfl757pTj0f1G6sQTXhtnZB6vb9/6LBKojXBbuKYiV9EQ6ZCzekzWqXdd+T1uRUpCLOBbZfJsp+p8BHgFyrl0uxfKFOPl49uAAwCi++oQ3E27SzAdHrGr8GdwHhvewKva++uAQ56Ys/HZfJnOwLYvUEPRB0+Vyyzw+DwSzQMR6BEytcpFHQbH6bJL9YwRpEdQPoqNQ1hWRqRaUHgveYgCSR4Ejh4MiQhJb1UP1PD2IgzNRpdnar/X6NDBi5DJVUjO54dFSghhHQOmdDhUsA3JHVmGuyI2OVmV6tBEui6yWD1ZmCkhHmKACyUXYckQQybjnYhDAND/azgMtPV/bHJ+D46G3bYTtYxvLYBM5enR3aaLbga2JNHPxwAiLEjeB3jaTFKClK/w1bjsnethnmxpBTfdQ/XCIa0+GWQem+183b7GcwmoC3ef5ezYl6nliAIUZRmh2TsFp60T7ylTfLwknnUxEVUgM8MUujbdtzdbpUXFH+G/lTKcnpteb9ve79ZH76D5YAS1CYd0oLQw+/ORJareqnLO6E7XjFJykTJivjmtjg5K9GrmaddDwWRD+A9yKEjgYNCeE7usGScLLIcX+0jmAOiYKQoUrBjOtQBjhS7N7I2ea+VJE7x1VjpdkDTxX2IKKP+OLINLXyeqNIoXOPKgyoE1WWqpZI+lUVvj1APAoLlrao5bXjKbGQ9oa5sr2Ko6m7QZDUyq7TsYxeGfyLRpjExYlCKxMQ0QSRmAYiBBw+P1eXejj9lNXqF5IuUL7vKf3hlVJYj7qKxT4jgNw3XbEMRsXkceXUFiLdPphuumM8MbxBbcLUPoDAuN8oO1B5EswHhc3ag/UyGvGIZ4qv6lvTSylo1Vep5vJpgEGvowqiaaLUCOg0hIA74uRIQS/F5lEji0Dej1ZCF0XW6X3qqBiA4cWfGaoxJUhyW9F8YDpxfJYLZVQyr3DlL4fdI2mzmSpOqtv/9lQx3S+DFO9xneNsPoeD56TV0l7oAKKEfXixARGqJVCbDJY8GlhPgbVDddFvWZ34TXmNwrzaoZqvcVOHfmfPfgn6MYiZr+yW2oidOvKqc9atYtyJ3ZO78ZbBIGNsRM505Gb8MRvm3kJ7Q2Zbkfg7uAUpeRJGfGXr1eupZWwLHBiraZU2rPDqIatL6kXyP/ylWEcbeAv0eInZXgZ5nBY8ZY4sJOZRbd1c3a7EennybFoThGw9r9aNyu/YdZmmcmRdEStjEI0KHugkL6JeNRfHk8Rnq6snnlR1j9O7vB9AV2SZ8pUUz0OF5f5prlHt4BptHq5cQkotObg/qJV9C2hXEUkJRM+5+BZfPlm+LVQNc4v+53Gj8ccxnb58I9Y4SBc+dtkRzgF3duSnugq2e/NsOnnIkQC+sXj3V70DC+ahVuPGKUz3Qqxn/LVLfDHNuo+gQyY70nEVNkTLnNkL7npAryKGyjcb2wwXIwcb1j1jjgjpdZrmZpiaB4xF/xCAqN2Sf8/dY/PKmP4M3M1nGe8yMnhjnHlRpEg9m+D5K+pdTQ7l4/EOuepv19Okj+DmjyyNP1m4NSnD/31CnUF+dvouyrGtv/6xIKPzwuXvBM45gurbVcrQf9qPpdFvvNVXurWvp2aG5zlErDDvQNOiPBativyv/Fvekc+iPU+Yfkv7jJCREdrRd+wp0cQJ5769DWDhGaXcU31CUehb43/FC8zvsoVjtE3NyxEPiWUdF9LCMAbGmRwO/wv+tGMNKl9GnvCM7mzQwsUqnCharxhJVp8V4xZdCiUd48KuJ6HJAM4PaC9Db1KbFvVPTdZMlv72zlFRZ3nLw5KueuDuqwS76bEK5D1gAlKE5NhmpSquQEALp1i4BHZBMrHp0mBverDkjXqpL/tV74fD7QRpRJZjfRIESvGSviGDa9c8CKdPW+EdmISBkQOaoBUKmRwYoevd3tKg1itPmqIAkqvmxuKVey65YPE+EwCjCpj6+clByA4PSYeZMydMpDCIMiF1cZrTfVk4me4iQqHpj4HMMM+OuITlYE/YFTg4AMlvfimbUSbOq5TOIjs3UD7Dm8ZdhLa3EJrwVWpGawXykvWOK3SGbwku84/lfae9znfFX2GcILTBBfVRSod6fjU73x7IeegcZJKYc71vkCGV5UxDSGxCGX89tQg9OQQTsZnSjldrAK2SYb+u2Z6VVuqrtYrD6QmAo4J/LZ+yPJ/3W5S9gyyZHoZ+3veeUiifYRXYYvUkTVOeWGMo7yFF2vh2uVv7P7utoDYTCYLWGtZj2PaeAwA9IOMnD0QMCk/qEz94CG0OVbC0q1V8aYb91VpGY+rlASri6fGIC0RQwxhE/pjQTdMjPPItn71W/VSs7yZPUpQSXA4nics5AP3I4RH2dLkD7AbKVxL061v2hqNYW1gRkQRg3WCGew2HcIL9bIHcSygIIDZHHQwOv6VQZWWxkIOZtoa2kPUb1t8EUnWgQeS5mTA4QZjisC1uc4BW6hYMxGN+/Mpz4RO5TsjL4j6rV4mM2nytfAcm7V3q3XlcDfHJ9ysLfeu4/Y4bJP5ZucFSvsb6NdpyJ8lKGwGUP+tnpqAHs4Ej6wDYU7/bASj1fUypMKoZ3IzXRyU2KIxWwKRiMinqutq6umpm+HDH50erbBDfcDXh/8yNbvf2brP17obc8jDbz+hqU9ahWq3uW7EnxMOrrl7A6Fy84yR467VTpxqLPIm1VX1br3L4Qgmm4UJDYpAFTzpbl358obTJnbYH7sC32G6GxXa6//Vo+JB/VFYhJZJ4eJCVz3XXFjqQFALoaYM4xzkUwUGJTFM2nl6KLa3k+ahgkte372zPFxx24EpHwwOaXoL67V7dE8k2p98FoHy938+pg/TzmnthghKc0V7x0qJec8/1e5nB+NrOEHnmyOeghTAhYGmURjxiHJHySV6stJnifbNXt2k/ddImq+0spUjctDOIqr4vg2lke1ImTNRr35AN3s4rzi/7F5Yn3RKasEKbc5hgroH17CTrT87FVi/ojLEr1yZHaOyLJGoSMEaUGXGG3iaPnUtowyJt2mOpAL+mXRb+Yk6Y+unuvw9NIphYh/g5rDEuDyefTocMUpBOWYIBLUxMosul2azvketSJ7IsDnTtKqcy/orHfWpq/y1R7QametUryUtQfOtqaNBv9P/F7MCSXxSkNUtj7S3/CTZa+77TWMqXBTShNCWUUUA8n8k2VezZQvemxOBuyAZHsFjbJph5QdXkXcY4gN3FtPw0RiuU1a+EzS8fQpZ4DL+Jlu8yVibYFVr8jJLwmpKq7jH/UXgoj+RomalW5Lk0CzTdiK5HKIDrfQGuedvf6YwAOn4LTv8Man4MVsQlWxoJ/HaYvEIdkwdsd+MFh70ZRJ/6G0FRW9se1vJpsP4lz5SzxvX99LhyxgdgDpB+Nl1woaLa/Ol41nC1ITCsrBXnG4sHPp3nG523pAnWNwpkKkSJzT9HvrsBDtXukzfkrMuR4p6OqjumrzfTZm3tVO042n7iNjrkEIvImwIElIRziMmAdt/WuI4yfBQ7OqjGLFZccogTA+7UO77pp0VUEo+DK4scjfvH9kFlFMs6731XCMrKtEIu80PdbqliVKiPM1u8NXyhK46liNKzVabU2XsXy6WFm5RumkU18rwUYT9fbeeDztRZTrxGDuBsQgwQ9GKODnuA7/0RG5XxCjB3RTZaZN4FkSdZbWbuGDLmriMgFSsFT13/FslcpYLhf2XDfFWCeGx2L54E5o3LIV0rbz47O7fijboiGJd2FPZE89vO4Z1L6RoM8JD+5GMsFBgBArV7sScvmWPrMbDBphOodIULtZlAWwnQR8fIoEaSHvedeS4ywTg9X30IqftzsaRxIDuB7y9T/VqAw0esE3XmFJnBQM08X6v6iYfQFpN6XTAtCONbHKH5uCprGoRZo1hTglyj7+Pmww1XZi4L70+vjJGGg7L+j+OEO6RWuOeh/G18FWPh6Tq/QFfviyHVerXYXN7pbm6LBHaKWwWaJB2XCKcmIi+buQziXUoDIhr7EP+D4T973cQeX/VepA2MeiX/bMkrpBDfuRioRQgK+kHwZMvm7cj5XB9l04OUWSYeHeQrkvsdDCq01aaGI7CCeIuUAkgkcR6rqxe4ktlAI5DVKe/Zkf0JlZiaqoTo0cwYlkayGWnOze3I4w9Kz7+h0Q4t1KFIL+ElKSFY9g454Ti24tSpZm4lsiB3El9XLMR50Z4wAHUgC/u9do');
  </script>
<script>
  gaia = window.gaia || {};
  gaia.ps = gaia.ps || {};
  gaia.ps.hasPrefilledIdentifier = false;
  function gaia_parseFragment() {
  var hash = location.hash;
  var params = {};
  if (!hash) {
  return params;
  }
  var paramStrs = decodeURIComponent(hash.substring(1)).split('&');
  for (var i = 0; i < paramStrs.length; i++) {
      var param = paramStrs[i].split('=');
      params[param[0]] = param[1];
    }
    return params;
  }

  function gaia_prefillEmail() {
    var email = null;
    var form = null;
    if (document.getElementById) {
      email = document.getElementById('Email');
      form = document.getElementById('gaia_loginform');
    }
    if (form && email && (email.value == null || email.value == '')
        && (email.type != 'hidden')) {
      hashParams = gaia_parseFragment();
      if (hashParams['Email'] && hashParams['Email'] != '') {
        email.value = hashParams['Email'];
        
      }
    }
  }

  
  try {
    gaia_prefillEmail();
  } catch (e) {
  }
  
</script>
<script>
  var gaia_scrollToElement = function(element) {
  var calculateOffsetHeight = function(element) {
  var curtop = 0;
  if (element.offsetParent) {
  while (element) {
  curtop += element.offsetTop;
  element = element.offsetParent;
  }
  }
  return curtop;
  }
  var siginOffsetHeight = calculateOffsetHeight(element);
  var scrollHeight = siginOffsetHeight - window.innerHeight +
  element.clientHeight + 0.02 * window.innerHeight;
  window.scroll(0, scrollHeight);
  }
</script>
  <script>
  if (gaia.ps.hasPrefilledIdentifier) {
  var form = document.getElementById('gaia_loginform');
  if (form) {
  form.submit();
  }
  }
  </script>
<script>
  (function(){
  gaia_onLoginSubmit = function() {
  try {
  gaia.loginAutoRedirect.stop();
  } catch (err) {
  // do not prevent form from being submitted
  }
  try {
  document.bg.invoke(function(response) {
  document.getElementById('bgresponse').value = response;
  });
  } catch (err) {
  document.getElementById('bgresponse').value = '';
  }
  return true;
  }
  document.getElementById('gaia_loginform').onsubmit = gaia_onLoginSubmit;
  var signinButton;
  signinButton = document.getElementById('next');
  gaia_attachEvent(window, 'load', function(){
  gaia_scrollToElement(signinButton);
  });
  })();
</script>
  </body>
</html>
